header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F242D;
}
header h1{
    color: white;
}
nav{
    display: flex;
    gap: 20px;
}
footer{
    display: flex;
    align-items: center;
    background-color: #323946;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: white;
}
.a{
    display: flex;
    gap: 20px;
}

.box{
    margin-top: 100px;
}
h1{
    color: white;
}
h2{
    color: white;
}
p{
    color: white;
}
.card{
    margin-left: 10px;
}
.b{
    color: aqua;
}
body{
    background-color: #1F242D;
}
button{
    background-color: #00EEFF;
    border-radius: 20px;
    width: 176px;
height: 45px;
border: none;
box-shadow: 0px 0px 10px 0px #00EEFF;

}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.h1{
    font-size: 32px;
}
.q{
    font-size: 56px;
}
h2{
    font-size: 32px;
}
b{
    color:aqua;
}
.h2{
    text-align: center;
}
.cap{
   width: 380px;
height: 369px;
text-align: center;
background-color: #323946;
border-radius: 20px;
padding-top: 40px;
}
.bop{
    display: flex;
    justify-content: space-around;
}
main{
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: #323946;
    width: 1440px;
height: 800px;
padding-top: 90px;
}
.caw img{
    border-radius: 20px;
}
.cap1{
    text-align: center;
    background-color: #323946;
    width: 380px;
height: 369px;
border-radius: 20px;
}
input{
    width: 343px;
height: 55px;
border-radius: 8px;
background-color: #323946;
}
.caq{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
gap: 20px;
margin: auto;
color: #323946;
}
footer{
    margin-top: 50px;
}
textarea{
    width: 700px;
height: 280px;
border-radius: 8px;
background-color: #323946;

}
.button{
margin-left: 250px;
}
@media(max-width:1500px){
    .img{
        display: none;
    }
}


@media(max-width:720px){
   
    .box{
margin-top: 200px;
    }
        
    

    header{
        display: flex;
        gap: 20px;
    }
    .box{
        display: flex;
        gap: 40px;
        justify-content: center;
        margin-left: 10px;
    }
    .h1{
        font-size: 28px;
    }
    .carp img{
        width: 358px;
height: 434px;
    }
    .q{
        font-size: 35px;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
    .a img{
        width: 35px;
height: 35px;
    }
button{
    width: 155px;
height: 38px;
border-radius: 35px;
}

.bop .cap{
width: 268px;
height: 370px;

}
.cap p{
    font-size: 13px;

}
.cap img{
    width: 48px;
height: 48px;
}
.cap button{
    width: 133px;
height: 38px;
border-radius: 35px;
}
.bop{
    display: flex;
    gap: 20px;
}

main img{
width: 200px;
height: 150px;
border-radius: 17px;
display: flex;
gap: 20px;

}
main{
    width: 700px;
height: 640px;
display: flex;

}
input{
    width: 301px;
height: 47px;
border-radius: 7px;
}
textarea{
    width: 616px;
height: 236px;
border-radius: 7px;
}
.caq{
margin-left: 20px;
}
.img{
    display: none;
}
}
@media(max-width:580px){
    .box{
        margin-top: 100px;
    }
    a{
       display: none;
    }
    .img{
        display: block;
    }
    .h1{
        font-size: 22px;
    }
    .q{
        font-size: 42px;
    }
    .box{   
        flex-wrap: wrap;
    }
    button{
        width: 155px;
height: 38px;
border-radius: 35px;
    }
    .cap{
     width: 352px;
height: 316px;
border-radius: 17px;
    }
    .bop{
      
        width: 768px;
height: 911px;
    }
 .cap1{
width: 952px;
height: 350px;
border-radius: 17px;
 }
 .bop{
    width: 560px;
    flex-wrap: wrap;
height: 800px;
margin-right: 10px;
display: flex;
gap: none;
 }
main{
    width: 560px;
height: 907px;
flex-wrap: wrap;
}
.caw img{
    width: 250px;
height: 200px;
}
.caw{
    padding-right: 10px;
}
input{
    width: 249px;
height: 47px;
border-radius: 7px;
}
textarea{
    width: 516px;
height: 236px;
border-radius: 7px;
}
.button{
 margin-right: 80px;

}
}
@media(max-width:380px){

.carp img{
    width: 273px;
height: 331px;
}
.bop{
     flex-direction: column;
     width: 390px;
height: 1500px;
}
.cap1{
    width: 300px;
height: 345px;

border-radius: 16px;
}
.cap{
    width: 366px;
height: 265px;
border-radius: 16px;
}
main{
    flex-direction: column;
    width: 250px;
height: 1350px;
gap: 20px;
padding-bottom: 40px;
}
input{
    width: 366px;
height: 42px;
border-radius: 6px;
    flex-direction: column;
}
.caq{
      width: 290px;
height: 680px;
}
footer p{
    font-size: 9px;
}
}